.aboutMeContainer {
  margin-top: 50px;
  width: 100dvw;
}
.aboutMeHeader {
  color: var(--ocean-blue);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}
.aboutMeIntro {
  display: flex;
}

/* Styles for devices with a maximum width of 767 pixels (smartphones) */
@media only screen and (max-width: 767px) {
  /* Your smartphone-specific styles go here */
  .aboutMeImage {
    display: none;
  }
  .aboutMeIntro {
    padding: 10px;
    width: 100dvw;
    display: flex;
  }
}
